.header {
    width: 100%;
    padding: 24px 0;
    background: var(--bg-primary-color);
    margin-bottom: 30px;
    border-bottom: 1px solid var(--color-gray);
}

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    @media screen and (mim-width: 1024px) {
        gap: 30px;
    }
}

.navWrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.controlWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}
