.app.dark {
    --primary-color: #f8f7f7;
    --secondary-color: #1b1b1b;
    --bg-primary-color: #1b1b1b;
    --bg-secondary-color: #f8f7f7;
    --input-bg-color: #383838;
    --border-color: #888888;
}
