.app.light {
    --primary-color: #1b1b1b;
    --secondary-color: #f8f7f7;
    --bg-primary-color: #f8f7f7;
    --bg-secondary-color: #1b1b1b;
    --input-bg-color: #fff;
    --input-border-color: #d1d1d1;
}
