.signupForm {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.button {
    align-self: flex-end;
}

.link {
    color: var(--accent-color);
    &::before {
        background: var(--accent-color);
    }
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerWrapper {
    display: flex;
    gap: 10px;
}
